# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Go workspace files
go.work
go.work.sum

# Editor and IDE specific files
.idea/
.vscode/
*.swp

artifacts/certs/*
!artifacts/certs/.gitkeep

artifacts/camera/*
!artifacts/camera/.gitkeep

artifacts/keys/*
!artifacts/keys/.gitkeep

artifacts/trust/*
!artifacts/trust/.gitkeep
!artifacts/trust/roots/
artifacts/trust/roots/*
!artifacts/trust/roots/.gitkeep
